@charset "UTF-8";


  body {text-align:center; background:#ECF0F8;}
  
  #footerCPA
  {
      height : 260px;
      background-color:rgb(255,255,255);
      background-image: url("images/footer.png");
      background-repeat: no-repeat;
      background-position: center;  
      top:14px;
      position:relative;
   }
  
 .container{  background:url(images/bg_top.jpg) repeat-x top left; width:100%; }


  .page_margins { text-align:left; margin:0 auto; }
  
  .page_margins { min-width:740px; max-width:1020px;}
  .page {/* padding:10px; */ }
  #nav { top:18px; position:relative;}
  #header {
    /*color:#000;*/
   /* background:#fff repeat-x top left;*/
    height:8.7em;
    padding:12px 5px 0 5px;
    position:relative;z-index:999 
   
  }

  
  #main { background:#fff;padding:5px 5px 30px; min-height:300px; position:relative;}
  #main .imgCompany{ width:120px; padding:5px; margin:auto; background-color:#FFFFFF; border:1px solid #85C2DD !important;}

 .maincontainer{ background:#fff; width:96% }
 
 .wframe90 { width:90% }
 .wframe80 { width:80% }
 .wframe70 { width:70% }
 .wframe60 { width:60% }
 .wframe50 { width:55% }
 .wframe40 { width:40% }
 .wframe30 { width:30% }

  #footer {
    color:#666;
    background:#f9f9f9;
    padding:10px 20px;
    border-top:5px #efefef solid;
    line-height:1.5em;
    text-align:right;
    font-size:85%;
  }

  /*------------------------------------------------------------------------------------------------------*/

#header h1 
{
      float:left;
	text-decoration:none;
	border:0;
	width : 130px;
	height : 70px;
	margin : -11px;
	padding : 0;	
	background : url("images/logo.png") no-repeat 0 0;
	
	
}

#header .SystemTitle
{
    margin-top : 10px;
    margin-left:-10px;
    width : 185px;
    float:left
}
 
 #header h1 a {
	display : block;
	height : 31px;
	text-indent : -9999px; 
}

  #header h1{ color:#999; }


  #footer a { color:#999; background:transparent; font-weight:bold; cursor:pointer; }
  #footer a:focus,
  #footer a:hover,
  #footer a:active {color:#4D87C7; background-color:transparent; text-decoration:underline; }


  /* --------------------------------------------------------------------------------------- */
  #col1 { float:right; width:30%; }
  #col1_content { padding:0 5px;  }

  #col2, #col2_content { display:none }

  #col3 { margin-left:0; margin-right:30%; }
  #col3_content { padding:0 5px; }