@charset "UTF-8";

  body { o\verflow:visible; }
  
 
  * html textarea { overflow:scroll; overflow-x:hidden; }
  * html input { overflow:hidden; }

  body, #main { position:relative; }
  * html body { position:static; }

  .clearfix { height:1%; }

  .floatbox { width:100%; }
  
  .slidebox {
    position:relative;
    margin-right:-1000px;
    height:1%;
  }

  * html #col1,
  * html #col2,
  * html #col3 { position:relative; }

  /*------------------------------------------------------------------------------------------------------*/

  body { height:1%; }
  .page_margins, .page, #header, #nav, #main, #footer { zoom:1;}  /* IE6 & IE7    */
  * html .page_margins, * html .page { height:1%; hei\ght:auto; }  /* IE 5.x & IE6 | IE6 only */
  * html #header, * html #nav, * html #main, * html #footer { width:100%; wid\th:auto; }  /* IE 5.x & IE6 | IE6 only */

  
  .subc, .subcl, .subcr { height:1%; }

  * html ul, * html ol, * html dl { position:relative; }

  body ol li { display:list-item; }


  fieldset, legend { position:relative; }

  html #ie_clearing {
    position:static;
    display:block;
    \clear:both;
    width:100%;
    font-size:0px;
    margin:-2px 0 -1em 1px;
  }

  * html #ie_clearing { margin:-2px 0 -1em 0; }
  #col3_content { margin-bottom:-2px; }

  html { margin-right:1px; }
  * html { margin-right:0; }

  #col3 { position:relative; }


  * html body a, * html body a:hover { background-color:transparent; }

}

@media screen, projection
{
  #col1,  #col2 { display:inline; }

  .c20l, .c25l, .c33l, .c38l, .c40l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l,
  .c20r, .c25r, .c33r, .c38r, .c40r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { display:inline; }


  * html .equalize, * html .equalize .subcolumns { overflow:visible; display:block; }
  .equalize, .equalize .subcolumns { overflow:hidden; display:block; }


  .equalize .c20l,.equalize .c40l,.equalize .c60l,.equalize .c80l,
  .equalize .c25l,.equalize .c33l,.equalize .c38l,.equalize .c50l,
  .equalize .c62l,.equalize .c66l,.equalize .c75l {
    float:left; display:inline;
    padding-bottom:32767px;
    margin-bottom:-32767px;
  }
  .equalize .c20r,.equalize .c40r,.equalize .c60r,.equalize .c80r,
  .equalize .c25r,.equalize .c33r,.equalize .c38r,.equalize .c50r,
  .equalize .c62r,.equalize .c66r,.equalize .c75r {
    float:right; margin-left:-5px; display:inline;
    padding-bottom:32767px;
    margin-bottom:-32767px;
  }

  .no-ie-padding .c20l,.no-ie-padding .c40l,.no-ie-padding .c60l,.no-ie-padding .c80l,
  .no-ie-padding .c20r,.no-ie-padding .c40r,.no-ie-padding .c60r,.no-ie-padding .c80r,
  .no-ie-padding .c25l,.no-ie-padding .c33l,.no-ie-padding .c38l,.no-ie-padding .c50l,
  .no-ie-padding .c62l,.no-ie-padding .c66l,.no-ie-padding .c75l,
  .no-ie-padding .c25r,.no-ie-padding .c33r,.no-ie-padding .c38r,.no-ie-padding .c50r,
  .no-ie-padding .c62r,.no-ie-padding .c66r,.no-ie-padding .c75r {
    padding-bottom:0;
    margin-bottom:0;
  }

  * html #col1_content,
  * html #col2_content,
  * html #col3_content { word-wrap:break-word; }


  * html .subc,
  * html .subcl,
  * html .subcr { word-wrap:break-word; o\verflow:hidden; }
}



/*--------------------------*/



  * html .page_margins {
    width: 80em;
    width: expression((document.documentElement && document.documentElement.clientHeight) ? ((document.documentElement.clientWidth < 740) ? "740px" : ((document.documentElement.clientWidth > (80 * 16 * (parseInt(this.parentNode.currentStyle.fontSize) / 100))) ? "80em" : "auto" )) : ((document.body.clientWidth < 740) ? "740px" : ((document.body.clientWidth > (80 * 16 * (parseInt(this.parentNode.currentStyle.fontSize) / 100))) ? "80em" : "auto" )));
  }
  