.foo
{
}

.PrettyMenu ul
{
    background: none;
}
.PrettyMenu .AspNet-Menu-Vertical ul.AspNet-Menu
{
    width: 9em;
}
.PrettyMenu ul.AspNet-Menu ul
{
    width: 10.5em;
    left: 8.9em;
    top: -1em;
}
.PrettyMenu ul.AspNet-Menu ul ul
{
    width: 11.5em;
    left: 10.4em;
}
.PrettyMenu ul.AspNet-Menu li
{
    /*background:#7795BD url(bg_nav.gif) repeat-x;*/
}
.PrettyMenu ul.AspNet-Menu li a, .PrettyMenu ul.AspNet-Menu li span
{
    color: #ffffff;
    padding: 4px 20px;
    border-right: 1px solid #3c6695;
    border-left: 1px solid transparent;
    border-bottom: 0;
    background: transparent url(images/arrowRight.gif) right center no-repeat;
}
.PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Leaf span
{
    background-image: none;
}
.PrettyMenu ul.AspNet-Menu li a img
{
    border-style: none;
    vertical-align: middle;
}
.PrettyMenu ul.AspNet-Menu li:hover, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover
{
    background: #EBEFF2 url("images/bg_nav.jpg") repeat-x top left;
    cursor: pointer;
}

.PrettyMenu ul.AspNet-Menu li:hover a, .PrettyMenu ul.AspNet-Menu li:hover span, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover a, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover span, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover a, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover span, .PrettyMenu ul.AspNet-Menu li:hover li:hover ul a:hover, .PrettyMenu ul.AspNet-Menu li:hover li:hover ul span.Asp-Menu-Hover, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul a:hover, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul span.Asp-Menu-Hover
{
    color: #21437a;
    border: 1px solid #dfe1e4;
    border-top: none;
    padding: 4px 20px;
}

.PrettyMenu ul.AspNet-Menu li:hover li:hover a, .PrettyMenu ul.AspNet-Menu li:hover li:hover span
{
    color: #21437a;
    background-color: #ECF0F8;
}

.PrettyMenu ul.AspNet-Menu li:hover ul a, .PrettyMenu ul.AspNet-Menu li:hover ul span, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover ul a, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover ul span, .PrettyMenu ul.AspNet-Menu li:hover li:hover ul a, .PrettyMenu ul.AspNet-Menu li:hover li:hover ul span, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul a, .PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul span
{
    color: #8397b7;
    background-color: #fff;
}
.PrettyMenu ul.AspNet-Menu li a:hover, .PrettyMenu ul.AspNet-Menu li span.Asp-Menu-Hover
{
    color: #21437a;
    background: transparent url(images/activeArrowRight.gif) right center no-repeat;
}
.PrettyMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a:hover
{
    background-image: none;
}
.PrettyMenu .AspNet-Menu-Horizontal
{
    z-index: 600;
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu
{
    /*width: 45em;*/
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul
{
    width: 10.5em;
    left: 0;
    top: 100%;
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul
{
    top: -0.3em;
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul
{
    width: 11.5em;
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li
{
    margin: auto 0;
    text-align: center;
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li
{
    text-align: left;
    width: 18em; /*Cambia el ancho del menu*/
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul li
{
    width: 18em; /*Cambia el ancho del sub menu*/
}
.PrettyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul
{
    margin: .30em 0 0 17.95em; /*Para ajustar la posicion flotante del submenu se debe cambiar el valor del margen izquierdo*/
}
.PrettyMenu ul.AspNet-Menu li.AspNet-Menu-WithChildren ul li.AspNet-Menu-WithChildren span
{
    /*Ajustes solo para los submenus que tienen hijos*/
    /*Sobreescribe el color de la flecha de los submenus a negro*/
    background: transparent url(images/activeArrowRight.gif) right center no-repeat;
    /*Asigna color de fondo al submenu, si se elimina sera transparente*/
    background-color: #fff;
}
.PrettyMenu ul.AspNet-Menu li.AspNet-Menu-WithChildren ul li.AspNet-Menu-WithChildren span:hover
{
    /*Cambia el color de fondo solo para los submenus que tienen hijos*/
    background-color: #ECF0F8;
}
.PrettyMenu ul.AspNet-Menu li.AspNet-Menu-WithChildren ul li.AspNet-Menu-WithChildren ul li.AspNet-Menu-Leaf a.AspNet-Menu-Link
{
    /*Cambia el color de fondo solo para los hijos de los submenus*/
    border-top: 1px solid #dfe1e4;
    border-bottom:none;
}
.PrettyMenu ul.AspNet-Menu li.AspNet-Menu-WithChildren ul li.AspNet-Menu-WithChildren ul li.AspNet-Menu-Leaf a.AspNet-Menu-Link:hover
{
    /*Cambia el color de fondo solo para los hijos de los submenus*/
    background-color: #ECF0F8;
    border-top: 1px solid #dfe1e4;
}