<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="Test.aspx.cs"
    Inherits="PACFDManager.DigitalCertificates.Test" %>

<%@ Register Src="../Tooltip.ascx" TagName="Tooltip" TagPrefix="uc1" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="cphContent">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <br />
            <br />
            <%--<asp:Label ID="lblTimer" runat="server" Text="1" />--%>
            <asp:TextBox ID="TextBox1" runat="server" AutoPostBack="True" 
                ontextchanged="TextBox1_TextChanged"></asp:TextBox>
            <%--<asp:Button ID="Button1" runat="server" CssClass="Button" Text="Click me!" OnClick="Button1_Click" />--%>
        </ContentTemplate>
        <Triggers>
        </Triggers>
    </asp:UpdatePanel>
    <%--<asp:Timer ID="Timer1" runat="server" Interval="3000">
    </asp:Timer>--%>
</asp:Content>
