@charset "UTF-8";
 /**
 */
 
  html * { font-size:100.01%; }
  textarea, pre, code, kbd, samp, var, tt {
    font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  body {
    font-family:Tahoma;
    font-size:13px;
    color:#444;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight:normal;    /*color:#222;*/
    margin:0 0 0.25em 0;
  }

  h1 { font-size:150%; color:#002E5F; }                       /* 30px */
  h2 { font-size:140%; color:#305389;}                       /* 24px */
  h3 { font-size:130%;  color:#AF6115;}

  /* --- Lists  -------------------------------------------------------------------------------- */

  ul, ol, dl { line-height:1.5em; margin:0 0 1em 1em; }
  ul { list-style-type:disc; }
  ul ul { list-style-type:circle; margin-bottom:0; }

  ol { list-style-type:decimal; }
  ol ol { list-style-type:lower-latin; margin-bottom:0; }

  ul.AspNet-Menu li { margin-left:0.1em; line-height:2.9em; }

  dt { font-weight:bold; }
  dd { margin:0 0 1em 0.8em; }

  /* --- ------------------------------------------------------------------------- */

  p { line-height:1.5em; margin:0 0 1em 0; }

  blockquote, cite, q {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
  }
  blockquote { margin:0 0 1em 1.6em; color:#666; }

  strong,b { font-weight:bold; }
  em,i { font-style:italic; }

  big { font-size:116.667%; }
  small { font-size:91.667%; }
 
  pre { line-height:1.5em; margin:0 0 1em 0; }
  pre, code, kbd, tt, samp, var { font-size:100%; }
  pre, code { color:#800; }
  kbd, samp, var, tt { color:#666; font-weight:bold; }
  var, dfn { font-style:italic; }

  acronym, abbr {
    border-bottom:1px #aaa dotted;
    font-variant:small-caps;
    letter-spacing:.07em;
    cursor:help;
  }

  sub, sup { font-size:91.6667%; line-height:0; }

  hr {
    color:#fff;
    background:transparent;
    margin:0 0 0.5em 0;
    padding:0 0 0.5em 0;
    border:0;
    border-bottom:1px #eee solid;
  }

  /*-------------------------------------------------------------------------------------------- */

  a { color:#4D87C7; background:transparent; text-decoration:none; }
  a:visited  { color:#036; }



  /*a:focus { text-decoration:underline; color:#000; background: #fff; outline: 3px #f93 solid; }*/
  a:hover,
  a:active { color:#182E7A; text-decoration:underline; outline: 0 none; }

  p.icaption_left { float:left; display:inline; margin:0 1em 0.15em 0; }
  p.icaption_right { float:right; display:inline; margin:0 0 0.15em 1em; }

  p.icaption_left img,
  p.icaption_right img { padding:0; border:1px #888 solid; }

  p.icaption_left strong,
  p.icaption_right strong { display:block; overflow:hidden; margin-top:2px; padding:0.3em 0.5em; background:#eee; font-weight:normal; font-size:91.667%; }

 /**
  * ------------------------------------------------------------------------------------------------- 
  */

  .highlight { color:#c30; }
  .dimmed { color:#888; }

  .info { background:#f8f8f8; color:#666; padding:5px; margin-bottom:0.5em; font-size:91.7%; }

  .note { background:#efe; color:#040; border:2px #484 solid; padding:10px; margin-bottom:1em; }
  .important { background:#ffe; color:#440; border:2px #884 solid; padding:10px; margin-bottom:1em; }
  .warning { background:#fee; color:#400; border:2px #844 solid; padding:10px; margin-bottom:1em; }

  .float_left { float:left; display:inline; margin-right:1em; margin-bottom:0.15em; }
  .float_right { float:right; display:inline; margin-left:1em; margin-bottom:0.15em; }
  .center { display:block; text-align:center; margin:0.5em auto; }

  /*.center_content 
  {
      border:1px solid;
      margin:0 auto;
      text-align:left;
      }*/
   
.center_content  { 
    display: table-cell;
    text-align: center;
    vertical-align: top;
    width:1010px;
   /* height:300px;*/
}
 .center_content  * {
    vertical-align: top;
}

.center_content {
    display: block;
}
/*.center_content span {
    display: inline-block;
    height: 100%;
    width: 1px;
}*/


.divUserList{ width:350px;  margin:0 auto;}

.Button 
{
background:url(images/frm_buttom.png) repeat scroll center bottom #EEEEEE;
border:medium none;
color:#000000;
cursor:pointer;
margin:5px 0;
outline:0 none;
vertical-align:top;
border-style:solid;
border-color:#DFECFF #999999 #999999 #DFECFF;
border-style:solid;
border-width:1px;
/*display:block;*/
/*height:30px; */
padding:2px 8px;   
  }
.Button:hover 
{
  background:url(images/frm_buttom_hover.png) repeat scroll center bottom transparent;}
  

.Button_Search
{
background:url(images/frm_search_buttom.png) repeat scroll center bottom #E0EFE2;
border-color:#E4EFE0 #999999 #999999 #E4EFE0;
border-style:solid;
border-width:1px;
color:#005F0D;
cursor:pointer;
margin:22px 0 0;
outline:0 none;
padding:2px 8px;
vertical-align:top;   
  }
.Button_Search:hover 
{
  background:url(images/frm_search_buttom_hover.png) repeat scroll center bottom transparent;}
  

 /**
  * ------------------------------------------------------------------------------------------------- 
  *
  */

/* table { width:auto; border-collapse:collapse; margin-bottom:0.5em; border-top:2px #888 solid; border-bottom:2px #888 solid; }
  table caption { font-variant:small-caps; }
  table.full { width:100%; }
  table.fixed { table-layout:fixed; }

  th,td { padding:0.5em; }
  thead th { color:#000; border-bottom:2px #800 solid; }
  tbody th { background:#e0e0e0; color:#333; }
  tbody th[scope="row"], tbody th.sub { background:#f0f0f0; }

  tbody th { border-bottom:1px solid #fff; text-align:left; }
  tbody td { border-bottom:1px solid #eee; }

  tbody tr:hover th[scope="row"],
  tbody tr:hover tbody th.sub { background:#f0e8e8; }
  tbody tr:hover td { background:#fff8f8; }*/
  
 
.tblInformationForm{ font-size:95%;  color:#445F8C; margin:0; padding:5px;/*width:303px;*/}
.tblInformationForm .strongFonts{font-weight:bold;}
.tblInformationForm .lnkSelectChange {}
.tblInformationForm .lnkSelect {color:#AF6115}
.tblInformationForm td{ padding: 0 5px;}


.DataGrid .dgHeader { text-align:center }

.AspNet-GridView
{
    width: 100%;
}


.AspNet-GridView div.AspNet-GridView-Pagination {
	display:block;
	text-align:right;
	height:22px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	border-top:1px solid #CCCCCC;
	margin-top:5px;
}

.AspNet-GridView div.AspNet-GridView-Pagination span { margin-left:6px; }
.AspNet-GridView div.AspNet-GridView-Pagination a:link, .AspNet-GridView div.AspNet-GridView-Pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #CCCCCC;
	margin-left:6px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
}

.AspNet-GridView div.AspNet-GridView-Pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;	
}

.AspNet-GridView div.AspNet-GridView-Pagination .active_tnt_link {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}

.AspNet-GridView div.AspNet-GridView-Pagination .disabled_tnt_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}
/*.AspNet-GridView div.AspNet-GridView-Pagination,
.AspNet-GridView div.AspNet-GridView-Pagination a,
.AspNet-GridView div.AspNet-GridView-Pagination span
{
    color: #00FFFF;
    background: #284775;
    font-weight: normal;
    padding: 2px;
    
    
}*/

.AspNet-GridView table
{
    border: solid 1px #CCCCCC;
    width: 100%;
}

.AspNet-GridView table thead tr th
{
    color: #F7F6F3;
    background:url(images/bg_gridv.jpg) repeat-x #3B5A89;
    font-weight:normal;
    border-bottom: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    padding: 5px;
    text-align:center;
}

.AspNet-GridView table thead tr th a
{
    color: #F7F6F3;
}

.AspNet-GridView table tbody tr td
{
    color: #333333;
    background: White;
    padding:5px;
    border-bottom: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    /*text-align: right;*/
}

.AspNet-GridView table tbody tr td a {}
.AspNet-GridView table tbody tr.AspNet-GridView-Alternate td
{
    background: #ECF0F8;
    color:#2C638F;
}

.AspNet-GridView table tbody tr td img, .AspNet-GridView table tbody tr td input{ display:block; margin: 0 auto}



.AspNet-GridView table tbody tr.AspNet-GridView-Selected td
{

}

.AspNet-GridView table tfoot tr td
{
}

.chBox { height:20px}
.chBox label
{
font-weight:bold;
left:18px;
position:relative;
bottom:21px;
}
#dvDates { position:relative; bottom:6px}


 /**
  * forms ------------------------------------------------------------------------------------------------- 
  *
  */

#container{
	text-align:left;
	background:#fff;
	border:1px solid #ccc;
	-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}
#container, #bottom{
	margin:0 auto;
	/*width:640px;*/
}
#bottom{
	width:650px;
	height:10px !important;
	margin-bottom:10px;
	display:block !important;
}

.formStyles{
/*	margin:20px 14px 0 14px;
	padding:0 0 20px 0;*/
}


.formStyles{

}
.formStyles li{
	/*width:64%;*/
}

/* ----- INFO ----- */

.info{
	display:inline-block;
	clear:both;
	margin:0 0 5px 0;
	padding:6px 5px 0;
	border-bottom:1px dotted #ccc;
}
.info[class]{
	display:block;
}
.info h2{
	font-weight:normal;
	font-size:140%;
	margin:0 0 5px 0;
	clear:left;
}
.info div{
	font-size:95%;
	line-height:135%;
	color:#555;
}

/* ----- Field Structure ----- */

.form ul{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
.form ul li{height:55px;}
.form ul li #AlturaLibre{height:auto;}
* html .form ul{ /* IE6 Margin Percent Bug for Halves/Thirds */
	width:99%;
	zoom:1;
}
.form li{
	margin:0;
	padding:6px 1% 9px 1%;
	/*clear:both;*/
}
.form li:after, .form li div:after{
	/*content:".";*/
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
* html .form li{height: 1%;margin-bottom:-3px;}
*+html .form li{height: 1%;margin-bottom:-3px;}
* html .form li div{display:inline-block;}
*+html .form li div{display:inline-block;}

.form li div{
	/*padding:4px 0;*/
	color:#444;
}
.form li span{
	margin:0 .3em 0 0;
	padding:0;
	float:left;
	color:#444;
}

/* ----- Choices Field Structures ----- */

.form li div span{
	margin:0;
	display:block;
	width:100%;
	float:left;
}
li.twoColumns div span{
	width:48%;
	margin:0 5px 0 0;
}
li.threeColumns div span{
	width:30%;
	margin:0 5px 0 0;
}
li.notStacked div span{
	width:auto;
	margin:0 7px 0 0;
}

/* ----- Location Field Structures ----- */

.form li.complex{
	padding-bottom:0;
}
.form li.complex div span{
	width:auto;
	margin:0 .3em 0 0;
	padding-bottom:12px;
}
.form li.complex div span.full{
	margin:0;
}
.form li.complex div span.left,
.form li.complex div span.right{
	margin:0;
	width:48%;
}
.form li.complex div span.full input,
.form li.complex div span.full select,
.form li.complex div span.left input,
.form li.complex div span.right input,
.form li.complex div span.left select,
.form li.complex div span.right select{
	width:100%;
}

/* ----- FLOATS ----- */
.txt_left { text-align:left;}
.left{
	float:left;
	
}
.right{
	float:right;
}
.clear{
	clear:both !important;
}

label span, .section span, p span, .likert span{
	display:inline !important;
	float:none !important;
}

/* ----- TEXT DIRECTION ----- */

.rtl .info h2, .rtl .info div, .rtl label.desc, .rtl label.choice,
.rtl div label, .rtl span label, .rtl input.text,
.rtl textarea.textarea, .rtl select.select, .rtl p.instruct,
.rtl .section h3, .rtl .section div, .rtl input.btTxt{
	direction:rtl;
}

/* ----- LABELS ----- */

.form li div label, .form li span label{
	clear:both;
	font-size:89%;
	line-height:160%;
	color:#444;
	display:block;
	padding-top:5px;
}
label.desc{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
}
label.choice{
	display:block;
	font-size:100%;
	line-height:150%;
	margin:-17px 0 0 23px;
	padding:0 0 5px 0;
	color:#222;
	width:88%;
}
.safari label.choice{
	margin-top:-16px;
}
.form.rightLabel label.desc{
	padding-top:2px;
}

span.symbol{
	font-size:120%;
	line-height:135%;
}
.form li .datepicker{
	float:left;
	margin:.19em 5px 0 0;
	padding:0;
	width: 16px;
	height: 16px;
	cursor:pointer !important;
}

/* ----- REQUIRED ----- */

.form span.req{
	display:inline;
	float:none;
	color:red !important;
	font-weight:bold;
	margin:0;
	padding:0;
}

/* ----- MIN/MAX COUNT ----- */

.form li div label var{
	font-weight:bold;
	font-style:normal;
}
.form li div label .currently{
	display:none;
}

/* ----- FIELDS ----- */

input.text, input.search, input.file, textarea.textarea, select.select{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px 0;
}
input.text, input.search, textarea.textarea{

	
	/*background:#fff url(../images/fieldbg.gif) repeat-x top;*/
}
input, textarea{
border:1px solid #D2D2D2;
color:#42667f;
padding:4px 5px;
}
select{
border:1px solid #D2D2D2;
color:#2F2F2F;
padding:3px 4px;
}
select.select{
/*	padding:4px 0 0 0;*/
}
input.search{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding-left:6px;
}
input.checkbox, input.radio{
	display:block;
	margin:4px 0 0 0;
	padding:0;
	width:13px;
	height:13px;
}
input.other{
	margin:0 0 8px 25px;
}

.safari select.select{
	font-size:120% !important;
	margin:0 0 1px 0;
}
* html select.select{
	margin:1px 0;
}
*+html select.select{
	margin:1px 0;
}

.center,
.form li span.center input.text, .form li span.center label,
.form li.name span label,
.form li.date input.text, .form li.date span label,
.form li.phone input.text, .form li.phone span label,
.form li.time input.text, .form li.time span label{
	text-align:center;
}
.form li.time select.select{
	margin-left:5px;
}
.form li.price .right{
	text-align:right;
}

/* ----- SIZES ----- */

.third{
	width:32% !important;
}
.half{
	width:48% !important;
}
.full{
	width:100% !important;
}

input.small, select.small{
	width:25%;
}
input.medium, select.medium{
	width:50%;
}
input.large, select.large, textarea.textarea{
	width:100%;
}

.msie select.ieSelectFix{
	width:auto;
}
.msie6 select.ieSelectFix, .msie7 select.ieSelectFix{
	width:100%;
}
.msie select.ieSelectFix.small{
	min-width:25%;
}
.msie select.ieSelectFix.medium{
	min-width:50%;
}
.msie select.ieSelectFix.large{
	width:100%;
}


textarea.small{
	height:5.5em;
}
textarea.medium{
	height:10em;
}
textarea.large{
	height:20em;
}

/* ----- FILES 

li.file a{
	color:#222;text-decoration:none;
}
li.file span{
	display:inline;float:none;
}
li.file img{
	display:block;float:left;margin:0 0 0 -10px;padding:5px 5px 7px 5px;
}
li.file .file-size, li.file .file-type{
	color:#666;font-size:85%;text-trans.form: uppercase;
}
li.file .file-name{
	display:block;
	padding:14px 0 0 0;
	color:blue;
	text-decoration:underline;
}
li.file .file-delete{
	color:red !important;font-size:85%;text-decoration:underline;
}
li.file a:hover .file-name{
	color:green !important;
}
li.file a:hover .file-name{
	color:green !important;
}----- */

/* ----- LIKERT SCALE ----- */

.form li.likert{
	margin:0;
	padding:6px 1% 5px 1%;
	width:auto !important;
	clear:both !important;
	float:none !important;
}
.likert table{
	margin:0 0 .9em 0;
	background:#fff;
	width:100%;
	border:1px solid #dedede;
	border-bottom:none;
}
.likert caption{
	text-align:left;
	color:#222;
	font-size:95%;
	line-height:135%;
	padding:5px 0 .5em 0;
}
.likert input{
	padding:0;
	margin:2px 0;
}
.likert tbody td label{
	font-size:85%;
	display:block;
	color:#565656;
}

/* ----- Top Row ----- */

.likert thead td, .likert thead th{
	background-color:#e6e6e6;
}

/* ----- Right Side ----- */

.likert td{
	border-left:1px solid #ccc;
	text-align:center;
	padding:4px 6px;
}
.likert thead td{
	font-size:85%;
	padding:10px 6px;
}

/* ----- Body ----- */

.likert th, .likert td{
	border-bottom:1px solid #dedede;
}
.likert tbody th{
	padding:8px 8px;
	text-align:left;
}
.likert tbody th label{
	color:#222;
	font-size:95%;
	font-weight:bold;
}

.likert tbody tr.alt td, .likert tbody tr.alt th{
	background-color:#f5f5f5;
}
.likert tbody tr:hover td, .likert tbody tr:hover th{
	background-color:#FFFFCF;
}

/* ----- Likert Classes ----- */

.col1 td{width:30%;}
.col2 td{width:25%;}
.col3 td{width:18%;}
.col4 td{width:14.5%;}
.col5 td{width:12%;}
.col6 td, .col7 td{width:10%;}
.col8 td, .col9 td, .col10 td{width:6.5%;}
.col11{width:6%;}

.hideNumbers tbody td label{
	display:none;
}

/* ----- BUTTONS ----- */



.form li.buttons, .btnInvoice{
background:none repeat scroll 0 0 #ECF0F8;
margin-top:5px;
padding-bottom:4px;
padding-left:1%;
padding-right:1%;
position:relative;
text-align:right;
width:auto !important;
height:35px;
clear:both;
}
.form li.buttons input{
	font-size:100%;
	margin-right:5px;
}
input.btTxt{
	padding:0 7px;
	width:auto;
	overflow:visible;
}
.safari input.btTxt{
	font-size:120%;
}
.buttons .marker{
	position:absolute;
	top:0;
	right:0;
	padding:15px 10px 0 0;
	color:#000;
	width:auto;
}
button.link{
	display:inline-block;
	border:none;
	background:none;
	color:blue;
	text-decoration:underline;
	cursor:pointer;
	padding:0;
	font-size:100%;
}
button.link:hover{
	color:green;
}

/* ----- LABEL LAYOUT ----- */

.leftLabel li, .rightLabel li{
	width:74% !important;
	padding-top:9px;
}
.leftLabel label.desc, .rightLabel label.desc{
	float:left;
	width:31%;
	margin:0 15px 0 0;
}
.rightLabel label.desc{
	text-align:right;
}
.leftLabel li div, .rightLabel li div{
	float:left;
	width:65%;
}
.leftLabel .buttons, .rightLabel .buttons{
	padding-left:23%;
}
.leftLabel .buttons div, .rightLabel .buttons div{
	float:none;
	margin:0 0 0 20px;
}


.leftLabel p.instruct, .rightLabel p.instruct{
	width:28%;
	margin-left:5px;
}
.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct{
	margin-left:31% !important;
	padding-left:15px;
	width:65%;
}

/* ----- NO INSTRUCTIONS ----- */

.noI .form li, .altInstruct .form li{
	width:auto !important;
}

/* ----- NO INSTRUCTIONS LABEL LAYOUT ----- */

.noI .leftLabel .buttons, .noI .rightLabel .buttons{
	padding-left:31%;
}
.noI .leftLabel .buttons div, .noI .rightLabel .buttons div{
	margin:0 0 0 17px;
}

/* ----- HALVES AND THIRDS ----- */

.form li.leftHalf, .form li.rightHalf{
	width:47% !important;
}
.form li.leftThird, .form li.middleThird, .form li.rightThird{
	width:30% !important;
}
.form li.leftHalf, .form li.leftThird{
	clear:left !important;
	float:left;
}
.form li.middleThird{
	clear:none !important;
	float:left;
	width:30% !important;
	margin-left:2% !important;
}
.form li.rightHalf, .form li.rightThird{
	clear:none !important;
	float:right;
}
li.leftHalf .small, li.rightHalf .small,
li.leftHalf .medium, li.rightHalf .medium,
li.leftThird .small, li.middleThird .small, li.rightThird .small,
li.leftThird .medium, li.middleThird .medium, li.rightThird .medium{
	width:100%;
}

/* ----- INSTRUCTIONS ----- */

@-webkit-keyframes fade-in-focused {
	from {background-color: transparent;}
	to {background-color: #fff7c0 !important;}
}

/*.form li.focused{
	background-color:#fff7c0;
	-webkit-animation-name: fade-in-focused;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
}
.form li.focused, .form li:hover{
	position:relative; 
}*/
.form .instruct{
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width:45%;
	margin:0 0 0 8px;
	padding:8px 10px 10px 10px;
	border:1px solid #e6e6e6;
	background:#f5f5f5;
	visibility:hidden;
	font-size:105%;
}
.form .instruct small{
	line-height:120%;
	font-size:80%;
	color:#444;
}
.form li.focused .instruct, .form li:hover .instruct{
	left:100%; /* Prevent scrollbars for IE Instruct fix */
	visibility:visible;
}

/* ----- ALT INSTRUCTIONS ----- */

.altInstruct .instruct, li.leftHalf .instruct, li.rightHalf .instruct,
li.leftThird .instruct, li.middleThird .instruct, li.rightThird .instruct,
.iphone .instruct{
	visibility:visible;
	position:static;
	margin:0;
	padding:6px 0 0 0;
	width:100%;
	clear:left;
	background:none !important;
	border:none !important;
	font-style:italic;
}
.altInstruct p.complex , li.leftHalf p.complex, li.rightHalf p.complex,
li.leftThird p.complex, li.middleThird p.complex, li.rightThird p.complex,
.iphone p.complex{
	padding:0 0 9px 0;
}

/* ----- ADVANCED CLASSNAMES ----- */

.hideSeconds .seconds, .hideAMPM .ampm, .hideAddr2 .addr2{
	display:none;
}

/* ----- SECTIONS ----- */

.form li.section{
	clear:both;
	margin:0;
	padding:7px 0 0 0;
	width:auto !important;
	position:static;
}
.form li.section h3{
	font-weight:normal;
	font-size:110%;
	line-height:135%;
	margin:0 0 3px 0;
	width:auto;
	padding:12px 1% 0 1%;
	border-top:1px dotted #ccc;
}
.form li.first{
	padding:0;
}
.form li.first h3{
	padding:8px 1% 0 1%;
	border-top:none !important;
}
.form li.section div{
	display:block;
	width:auto;
	font-size:85%;
	line-height:160%;
	margin:0 0 1em 0;
	padding:0 1% 0 1%;
}
.form li.section.scrollText{
	border:1px solid #dedede;
	height:150px;
	overflow:auto;
	margin-bottom:10px;
	padding:10px;
	-webkit-box-shadow:rgba(0,0,0,.15) 0px 0px 3px;
	-moz-box-shadow:rgba(0,0,0,.15) 0px 0px 3px;
	box-shadow:rgba(0,0,0,.15) 0px 0px 3px;
}
.form li.section.scrollText h3{
	border:none;
	padding-top:8px;
}

/* ----- CAPTCHA ----- */

.form li.captcha {
	width:auto !important;
	clear:both;
	border-top:1px dotted #ccc;
	margin-top:5px;
	padding:1.1em 1% 9px 1%;
	width:auto !important;
	position:static;
}
.form li.captcha label.desc{
	width:auto !important;
	text-align:left;
	margin-bottom:4px;
	float:none;
}
*+html #recaptcha_area, *+html #recaptcha_table{
	min-width:450px !important;
}
* html #recaptcha_area, * html #recaptcha_table{
	width:450px !important;
}
#recaptcha_widget_div table{
	background:#fff;
}
.form li.captcha .noscript iframe{
	border:none;
	overflow:hidden;
	margin:0;
	padding:0;
}
.form li.captcha .noscript label.desc{
	display:block !important;
}
.form li.captcha .noscript textarea{
	margin-left:12px;
}

/* ----- PAGINATION ----- */

.form li.paging-context{
	clear:both;
	border-bottom:1px dotted #ccc;
	margin:0 0 7px 0;
	padding:5px 1% 10px 1%;
	width:auto !important;
	position:static;
}
.paging-context table{
	width:100%;
}

.pgStyle1 td{ /* Steps */
	text-align:left;
	vertical-align:middle;
}
.pgStyle1 td.c{
	width:22px;
}
.pgStyle1 td.t{
	padding:0 1%;
}
.pgStyle1 var{
	display:block;
	float:left;
	background:none;
	border:1px solid #CCC;
	color:#000;
	width:20px;
	height:20px;
	line-height:19px;
	text-align:center;
	-webkit-box-shadow:rgba(0,0,0,.15) 0px 1px 2px;
	-moz-box-shadow:rgba(0,0,0,.15) 0px 1px 2px;
	box-shadow:rgba(0,0,0,.15) 0px 1px 2px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-size:85%;
	font-style:normal;
}
.pgStyle1 .done var{
	background:#ccc;
}
.pgStyle1 .selected var{
	background:#FFF7C0;
	color:#000;
	border:1px solid #e6dead;
	font-weight:bold;
}
.pgStyle1 b{
	font-size:85%;
	font-weight:normal;
	color:#000;
}
.pgStyle1 .selected b{
	font-weight:bold;
}

.circle6 td, .circle7 td{
	vertical-align:top;
	text-align:center;
}
.nopagelabel td.t{
	display:none;
}
.nopagelabel .pgStyle1 var, .circle6 var, .circle7 var{
	width:24px;
	height:24px;
	line-height:24px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	font-size:90%;
	margin:0 auto 7px auto;
	float:none;
}
.nopagelabel .pgStyle1 var{
	margin-bottom:0;
}
.circle6 b, .circle7 b{
	padding:0;
}

.circle2 td{width:50%;}
.circle3 td{width:33%;}
.circle4 td{width:25%;}
.circle5 td{width:20%;}
.circle6 td{width:16.6%;}
.circle7 td{width:14.2%;}

.pgStyle2 td{ /* Percentage */
	vertical-align:middle;
	height:25px;
	border:1px solid #CCC;
	position:relative;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
	-webkit-box-shadow:rgba(0,0,0,.10) 1px 1px 1px;
	-moz-box-shadow:rgba(0,0,0,.10) 1px 1px 1px;
	box-shadow:rgba(0,0,0,.10) 1px 1px 1px;
	padding:2px;
}
.pgStyle2 var{ /* Percentage Bar */
	display:block;
	height:26px;
	float:left;
	background:#FFF7C0;
	color:#000;
	font-style:normal;
	text-align:right;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow:rgba(0,0,0,.15) 1px 0px 0px;
	-moz-box-shadow:rgba(0,0,0,.15) 1px 0px 0px;
	box-shadow:rgba(0,0,0,.15) 1px 0px 0px;
}
.pgStyle2 var b{/* Percentage # */
	display:block;
	float:right;
	font-size:100%;
	padding:3px 10px 3px 3px;
	line-height:19px;
}
.pgStyle2 em{/* Page Title */
	font-size:85%;
	font-style:normal;
	display:inline-block;
	margin:0 0 0 9px;
	padding:4px 0;
	line-height:18px;
}
.pgStyle2 var em{
	padding:4px 5px 3px 0;
}
.page1 .pgStyle2 var{
	padding-left:7px;
	text-align:left;
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.page1 .pgStyle2 b{
	float:none;
	padding-right:0px;
}

.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em, .hideSecondary #previousPageButton{
	display:none !important;
}

/* ----- ERRORS ----- */

#errorLi{
	width:99%;
	margin:15px auto 5px auto;
	background:#fff !important;
	border:1px solid red;
	text-align:center;
	padding:1em 0 1em 0;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}
#errorMsgLbl{
	margin:0 0 5px 0;
	padding:0;
	font-size:125%;
	color:#DF0000 !important;
}
#errorMsg{
	margin:0 0 2px 0;
	color:#000 !important;
	font-size:100%;
}
#errorMsg strong{
	padding:2px 8px;
	background-color: #FFDFDF !important;
	color:red !important;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.form li.error{
	display:block !important;
	background-color: #FFDFDF !important;
	margin-bottom:3px !important;
}
.form li label.error, .form li input.error{
	color:#DF0000 !important;
	font-weight:bold !important;
}
.form li input.error{
	background:#fff !important;
	border:2px solid #DF0000 !important;
}


.form li.error label, .form li.error span.symbol{
	color:#000 !important;
}
.form li.error label.desc{
	color:#DF0000 !important;
}
.form p.error{
	display:none;
	margin:0 !important;
	padding:7px 0 0 0 !important;
	line-height:10px !important;
	font-weight:bold;
	font-size:11px;
	color:#DF0000 !important;
	clear:both;
}
.form li.error p.error{
	display:block;
}
.form li.complex p.error{
	padding:0 0 9px 0 !important;
}
/*.form li span.errorvalidator{ bottom:8px; height:19px; position:relative;}*/
.form li div.checkBox label{ display:inline; padding:0 0 5px 5px;}
.form li div.checkBox span{bottom:19px;left:125px;position:relative;}



/*-------------------------------------------------------------------------------*/

.container_l { background-color:#EDEEF0;border-collapse:separate; }
.container_l td { border:1px solid #D1E2EF !important;  padding:2px; }
.img_information { text-align:center;}
.container_l .Titulo{ font-weight:bold; color:#1F4278;}
.container_l .lbl_bold { font-weight:lighter; color:#20262F; background-color:#E0E9EF}

.container_r{ padding:5px; margin:0 auto; width:94%}
/*.container_r h3{ color:#AF6115}
.container_r h1{ color:#002E5F}*/



/*------------------------------------------------------------------------------
.crystalReport{ width:500px !important; }
.crystalReport table .crystalstyle { width:100% !important;}
/*.crystalstyle table { width: 100%}*/

/*message box */
.ccPopup{ border: solid 1px black;background-color: #fff;width: 400px;}
.ccPopupTitle{padding-top: 3px;height: 18px;background-color: #7c8894;color: #fff;font-weight: bold;background-image: url(images/bx_title_back.jpg);text-align: center;padding-left: 29px;font-size: 12pt;line-height: 10pt;}
.ccPopupClose{float: right;width: 29px;height: 21px;background-image: url(images/bx_title_close.jpg);cursor:pointer;display:none;}
.ccPopupWarningIcon{float: left;background: #fff url(images/bx_warning.png) no-repeat;margin: 5px;width: 70px;height: 64px;}
.ccPopupInfoIcon{float: left;background: #fff url(images/bx_info.png) no-repeat;margin: 5px;width: 70px;height: 64px;}
.ccPopupErrorIcon{float: left;background: #fff url(images/bx_error.png) no-repeat;margin: 5px;width: 70px;height: 64px;}
.ccPopupQuestionIcon{float: left;backrgound: #fff url(images/bx_question.png) no-repeat;margin: 5px;width: 70px;height: 64px;}
.ccPopupMessage{padding: 10px;text-align: left;text-align: left;}
.ccPopupMessage span{color:#0e4354 !important; font-weight:bold;}
.ccPopupButton{width: 100px;border: solid 1px #000;background: #7c8894 url(images/bx_title_back.jpg) repeat-x;color: #fff;cursor:pointer;}

/*menu de  BillingsDetails.aspx*/
ul.ticket-detail-nav {float:right;}
ul.ticket-detail-nav li{float:left; display:inline; padding:2px 4px 0 0; }
ul.ticket-detail-nav li a{display:block; background-color: #ECF0F8; padding:8px 4px 8px 28px; text-decoration:none; border:1px solid #D5D5D5;}
ul.ticket-detail-nav li a:hover{ background-color: #4A7EAE; color:#fff; border:1px solid #083578;}				
ul.ticket-detail-nav .pdf-icon{background:#ECF0F8 url(../../../images/png/pdf.png) no-repeat scroll 2px center;}
ul.ticket-detail-nav .xml-icon{background:#ECF0F8 url(../../../images/png/xml.png) no-repeat scroll 2px center;}
ul.ticket-detail-nav .email-icon{background:#ECF0F8 url(../../../images/png/sendMail.png) no-repeat scroll 2px center;}

/*menu de  reportviewer.ascx*/
option.xls-icon{background: url(../../../images/png/xls-opt.png) no-repeat scroll 0 center;padding:1px 0 0 18px;}
option.pdf-icon{background: url(../../../images/png/pdf-opt.png) no-repeat scroll 0 center;padding:1px 0 0 18px;}
option.rtf-icon{background: url(../../../images/png/rtf-opt.png) no-repeat scroll 0 center;padding:1px 0 0 18px;}
option.doc-icon{background: url(../../../images/png/doc-opt.png) no-repeat scroll 0 center;padding:1px 0 0 18px;}

/* --------------------- validators -----------------------------*/

.validator-indicator { color:#ff1818; }
.validator-msg span{ background:url(images/arrow_up_bk.png) no-repeat scroll 0 top; color:#ff1818 !important; padding-left:18px !important; font-size:11px}