.secure-box {
	width:365px;
	height: 285px;
	padding:30px 40px 0;;
	color:#4F647F;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(images/log-bx-bg.jpg) no-repeat left top;
	text-align:left;
	margin:50px auto;
}

.secure-box img {
	border:none;
}

.secure-box h2 {
	padding:0;
	margin:0;
	font: 28px Verdana, Arial;
}


.secure-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0px 7px 0;
}

.secure-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0 0px 7px 0;
}


.form-login  {
	width: 205px;
	padding: 5px 4px 6px 3px;
	border: 1px solid #6bb8ee;
	background-color:#ffffff;
	font-size: 16px;
	color: #42667f;
}


.secure-box-options  {
	clear:both;
	padding-right:58px;
    text-decoration:underline;
	font-size: 11px;    
    cursor:pointer;	
	text-align:right;
	display:block;
}

.secure-box-options a {
	color:#006FFF;
	font-size: 11px;
}