﻿<body>
    <div>
        <table>
            <tr>
                <td colspan="2">
                    <b>Datos del Registro: </b>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <b>Rol: </b>
                </td>
                <td>
                    [lblRole]
                </td>
            </tr>
            <tr>
                <td align="right">
                    <b>Correo: </b>
                </td>
                <td>
                    [lblEmail]
                </td>
            </tr>
            <tr>
                <td align="right">
                    <b>Contraseña: </b>
                </td>
                <td>
                    [lblPassword]
                </td>
            </tr>
        </table>
    </div>
</body>
