﻿<body>
    <table>
        <tr>
            <td align="right">
                <span class="txtEtiqueta">Correo Electronico:</span>
            </td>
            <td align="left">
                <span class="txtDato">lblEmail</span>
            </td>
        </tr>
        <tr>
            <td align="right">
                <span class="txtEtiqueta">Contraseña:</span>
            </td>
            <td align="left">
                <span class="txtDato">lblPassword</span>
            </td>
        </tr>
    </table>
</body>
