@charset "UTF-8";


  * { margin:0; padding:0; }


  option { padding-left:0.4em; } /* LTR */
  select { padding:1px; }


  * html body * { overflow:visible; }
  * html iframe, * html frame { overflow:auto; }
  * html frameset { overflow:hidden; }

  body {
       font-size:100.01%;
    background:#fff;
    color:#000;
    text-align:left;
  }


  div { outline:0 none; margin: auto; }

 /*#main table { margin:0 auto;}
 #main table table {margin: 0} */
 
 fieldset, img { border:0 solid; }

 
 /* ul, ol, dl { margin:0 0 1em 1em; } 
  li {
    line-height:1.5em;
    margin-left:0.8em;
  }

  dt { font-weight:bold; }
  dd { margin:0 0 1em 0.8em; } */

  blockquote { margin:0 0 1em 0.8em; } 

  blockquote:before, blockquote:after,
  q:before, q:after { content:""; }

 /*------------------------------------------------------------------------------------------------------*/


  .clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
  }


  .clearfix { display:block; }

  .floatbox { overflow:hidden; }

  #ie_clearing { display:none; }

 /*------------------------------------------------------------------------------------------------------*/


  .skip, .hideme, .print {
    position:absolute;
    top:-32768px;
    left:-32768px; /* LTR */
  }


  .skip:focus, .skip:active {
    position:static;
    top:0;
    left:0;
  }

  #skiplinks { 
    position:absolute;
    top:0px; 
    left:-32768px; 
    z-index:1000; 
    width:100%;
    margin:0; 
    padding:0; 
    list-style-type:none;   
  }
  
  #skiplinks a.skip:focus,
  #skiplinks a.skip:active {
    left:32768px; 
    outline:0 none;
    position:absolute; 
    width:100%;
  }  


 #header { position:relative; }
 #topnav { text-align:right; }  
 #header #topnav {
	background-color:#D9E2EB;
	border:1px dotted #265D96;
	margin-top:2px;
	position:absolute;
	right:10px;
	top:0;
	height:70px;
  }
  
  


  #header, #nav, #main, #footer { clear:both; }

  #col1 { float:left; width:200px; }
  #col2 { float:right; width:200px; }
  #col3 { width:auto; margin:0 300px; }


  #col1_content, #col2_content, #col3_content { position:relative; }

 /*------------------------------------------------------------------------------------------------------*/


  .subcolumns { width:100%; overflow:hidden; }


  .subcolumns_oldgecko { width:100%; float:left; }

  .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float:left; }
  .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float:right; margin-left:-5px; }

  .c20l, .c20r { width:20%; }
  .c40l, .c40r { width:40%; }
  .c60l, .c60r { width:60%; }
  .c80l, .c80r { width:80%; }
  .c25l, .c25r { width:25%; }
  .c33l, .c33r { width:33.333%; }
  .c50l, .c50r { width:50%; }
  .c66l, .c66r { width:66.666%; }
  .c75l, .c75r { width:75%; }
  .c38l, .c38r { width:38.2%; }
  .c62l, .c62r { width:61.8%; }

  .subc  { padding:0 0.5em; }
  .subcl { padding:0 1em 0 0; }
  .subcr { padding:0 0 0 1em; }

  .equalize, .equalize .subcolumns { overflow:visible; display:table; table-layout:fixed; }

  .equalize > div {
    display:table-cell;
    float:none; 
    margin:0; 
    overflow:hidden;
    vertical-align:top;
  }




