﻿
.select_data { margin: 0 auto}

.alertBox {
  display:block;
  width:540px;clear:both;background:url('../Images/png/alert.png') no-repeat left #fcfae9;
  border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 auto;
  color:#0E4354;
}




.WebMessageBoxTable
{
    BORDER-RIGHT: #003399 1px solid;
    BORDER-TOP: #003399 1px solid;
    FONT: 10px Verdana;
    BORDER-LEFT: #003399 1px solid;
    BORDER-BOTTOM: #003399 1px solid;
    BACKGROUND-COLOR: #f2f5fb
}

.popupbackground
{
	filter: alpha(opacity=55); 
	background-color: #000; 
	moz-opacity: .55; 
	opacity: .55
	
}

.facturaDivMain
{
    
    padding: 8px;
    /*margin:10px;*/
    border:1px solid #D5D5D5;
    background-color: #ECF0F8;
    text-align:left;

}
.facturaDivContent
{
    
    padding: 10px;
    margin-bottom:10px;
   border:1px solid #D5D5D5;
    background-color: #fff;    
    overflow:hidden;

}

.facturaDivSelect
{
  padding: 5px;
  padding-bottom:10px;
 background-color: #A7C6DF;
 background-repeat:1px solid #D5D5D5;  
}


.title
{
    border: 1px solid #e7f1ff;
    padding: 0px;
    font-size: 16px;
    color: #AF6115;
    /*text-align: center;*/
    font-variant: small-caps;
    background-color:White;
}

.facturaDivContent table
{ text-align:left; width:100%;  margin: 0 auto;}

.facturaDivContent .AspNet-GridView table{width:25%; overflow:hidden; float:right;}
/*.facturaDivContent .AspNet-GridView table input,
.facturaDivContent table select{float:left; text-align:center; width:85px;}*/

.facturaDivContent .AspNet-GridView table.DataGrid {width:100%}

.darkLabel { font-weight:bold; }




/*.alertBox {
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 13px;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../Images/png/alert.png');
}


.WebMessageBoxTable
{
    BORDER-RIGHT: #003399 1px solid;
    BORDER-TOP: #003399 1px solid;
    FONT: 10px Verdana;
    BORDER-LEFT: #003399 1px solid;
    BORDER-BOTTOM: #003399 1px solid;
    BACKGROUND-COLOR: #f2f5fb
}

.popupbackground
{
	filter: alpha(opacity=75); 
	background-color: whitesmoke; 
	moz-opacity: .75; 
	opacity: .75
}

.facturaDivMain
{
    
    padding: 10px;
    margin:10px;
    border-style: solid;
    border-width: 1px;
    border-top-color: #5176b5;
    border-right-color: #5176b5;
    border-bottom-color: #5176b5;
    border-left-color: #5176b5;
    background-color: #c9daf3;
    width: 850px;
    text-align: left;
}
.facturaDivContent
{
    
    padding: 10px;
    margin-bottom:10px;
    border-style: solid;
    border-width: 1px;
    border-top-color: #5176b5;
    border-right-color: #5176b5;
    border-bottom-color: #5176b5;
    border-left-color: #5176b5;
    background-color: #fff;    
    text-align: left;
}

.facturaDivSelect
{
    padding: 5px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-top-color: #5176b5;
    border-right-color: #5176b5;
    border-bottom-color: #5176b5;
    border-left-color: #5176b5;
    background-color: #FFCC99;    
    text-align: left;
}


.title
{
    border: 1px solid #e7f1ff;
    padding: 0px;
    font-size: 16px;
    color: #ff6600;
    text-align: center;
    font-variant: small-caps;
    background-color:White;
}*/