﻿.loadingDialog
{
    /*background-image:url('../Images/png/alert.png');*/
    background-color: #d9e2eb;
    border-color: #000000;
    border-width: 2px;
    text-align: center;
    border-style: solid;
}