﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="ReSeal.aspx.cs" Inherits="PACFDManager.ReSeal" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphContent" runat="server">
    <asp:Label ID="lblFActura" runat="server" Text="Id Factura : "></asp:Label>
    <asp:TextBox ID="txtIdFactura" runat="server"></asp:TextBox>
    <asp:Button ID="btnReSeal"
        runat="server" Text="Re-Sellar" onclick="btnReSeal_Click" />
        <br />
        <asp:Label ID="lblMsg" runat="server" Text=""></asp:Label>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
         <asp:Button ID="btnResellarTodo"
        runat="server" Text="Re-Sellar Lote" onclick="btnResellarTodo_Click"  /><br />
        <asp:Label ID="lblMsg2" runat="server" Text=""></asp:Label>
</asp:Content>

