﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="AccessDenied.aspx.cs" Inherits="PACFDManager.Security.AccessDenied" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphContent" runat="server">
            
                <asp:Label runat="server" ID="lblQueryString" Text="" class="alertBox"  
                    style="width:200px;" />
            
            </asp:Content>
