﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="LogOut.aspx.cs" Inherits="PACFDManager.Security.LogOut" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphContent" runat="server">
</asp:Content>
